@model List<Chat>

@{
    ViewData["Title"] = "Inbox";
}

@{
    string senderId = TempData["senderId"].ToString();
    string receiverId = TempData["receiverId"].ToString();
    string sender = TempData["sender"].ToString();
    string receiver = TempData["receiver"].ToString();
}

<h4>Conversation with <a asp-controller="Users" asp-action="UserProfileResult" asp-route-userId="@receiverId">@receiver</a>:</h4>
<br />
<br />

<div>
    @foreach (Chat c in Model)
    {
        if (c.Sender == senderId)
        {
            <div style="width: 300px; margin: auto 200px auto auto">
                <p><strong>You</strong></p>
                <p>@c.TimeStamp.ToString()</p>
                <div style="background-color:lightblue; padding: 10px 30px 5px 20px; border-radius:25px;" >
                    <p><i>@c.Message</i></p>
                </div>
            </div>
        }
        if (c.Sender == receiverId)
        {
            <div style="width: 300px; margin: auto auto auto 100px">
                <p><strong>@receiver</strong></p>
                <p>@c.TimeStamp.ToString()</p>
                <div style="background-color:lightgray; padding: 10px 30px 5px 20px; border-radius:25px;">
                    <p><i>@c.Message</i></p>
                </div>
            </div>
        }
        <br />
        <br />
    }
</div>

<div style="text-align:right; margin: auto 145px auto auto">
    <form method="post" asp-action="SendMessage" asp-controller="Chat" asp-route-receiverId="@TempData["receiverId"]">
        <textarea rows="4" cols="14" wrap="soft" type="text" name="message"  placeholder="Send Message..." style="width: 290px"></textarea>
        <button type="submit" >Send</button>
    </form>
</div>