@model List<Job>

@{
    ViewData["Title"] = "Job Tracker";
}

<h3>Welcome to the Job Tracker!</h3>

@if (Model.Count == 0)
{
    <p>
        The purpose of this page is to list and provide details on jobs you've added to your favorites via the <a href="Home/">job search page</a>, or ones that you've manually entered via the <a href="Job/Add">job add page.</a>
        Once you've added jobs to your job search tracker, this page will populate with the details for each job.
    </p>

}
else
{
    <p>
        Jobs that you save from your job searches will be saved here.
    </p>

    <p>
        Jobs can also be manually added via the <a href="Job/Add">add job page.</a>
    </p>

    <h3>Jobs without a response</h3>

    @foreach (Job j in Model)
    {
        if (j.Responded == false)
        {
            <button type="button" class="collapsible">@j.Company - @j.Position</button>
            <div class="content">
                <dl class="flex-xl-row">
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Company => j.Company)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Company => j.Company)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Position)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Position)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Contact)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Contact)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Method", "Application method:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Method)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("DateOfApplication", "Date saved:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.DateOfApplication)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Link", "Link to job posting:")
                    </dt>
                    <dd class="d-flex">
                        <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("FollowUp", "Next follow up date:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.FollowUp)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("CompanySite", "Company website:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.CompanySite)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Notes)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Notes)
                    </dd>
                </dl>
                <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a> |
                <a asp-action="JobResult" asp-route-id="@j.Id"><button class="btn btn-dark"></button></a>
                <br />
            </div>
        }
    }

    <h3>Jobs with a response</h3>

    @foreach (Job j in Model)
    {
        if (j.Responded == true)
        {
            <button type="button" class="collapsible">@j.Company - @j.Position</button>
            <div class="content">
                <dl class="flex-xl-row">
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Company => j.Company)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Company => j.Company)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Position)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Position)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Contact)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Contact)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Method", "Application method:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Method)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("DateOfApplication", "Date saved:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.DateOfApplication)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Link", "Link to job posting:")
                    </dt>
                    <dd class="d-flex">
                        <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("FollowUp", "Next follow up date:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.FollowUp)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("CompanySite", "Company website:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.CompanySite)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Responded", "Received response?")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Responded)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Notes)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Notes)
                    </dd>
                </dl>
                <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a>
                <br />
            </div>
        }
    }

    <h3>Jobs without a response in 2 weeks</h3>

    @foreach (Job j in Model)
    {
        if (j.Responded == false && j.DateOfApplication <= DateTime.Now.AddDays(-14))
        {
            <button type="button" class="collapsible">@j.Company - @j.Position</button>
            <div class="content">
                <dl class="flex-xl-row">
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Company => j.Company)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Company => j.Company)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Position)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Position)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Contact)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Contact)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Method", "Application method:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Method)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("DateOfApplication", "Date saved:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.DateOfApplication)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Link", "Link to job posting:")
                    </dt>
                    <dd class="d-flex">
                        <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("FollowUp", "Next follow up date:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.FollowUp)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("CompanySite", "Company website:")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.CompanySite)
                    </dd>
                    <dt class="d-flex">
                        @Html.Label("Responded", "Received response?")
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Responded)
                    </dd>
                    <dt class="d-flex">
                        @Html.DisplayNameFor(Job => j.Notes)
                    </dt>
                    <dd class="d-flex">
                        @Html.DisplayFor(Job => j.Notes)
                    </dd>
                </dl>
                <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a>
                <br />
            </div>
        }
    }

}