@model IEnumerable<Job>

@{
    ViewData["Title"] = "Job Tracker";
}

<h3>Welcome to the Job Tracker!</h3>



@*<dt class="d-flex">
        @Html.DisplayNameFor(Company => j.Company)
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Company => j.Company)
    </dd>
    <dt class="d-flex">
        @Html.DisplayNameFor(Job => j.Position)
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.Position)
    </dd>
    <dt class="d-flex">
        @Html.DisplayNameFor(Job => j.Contact)
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.Contact)
    </dd>
    <dt class="d-flex">
        @Html.Label("Method", "Application method:")
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.Method)
    </dd>
    <dt class="d-flex">
        @Html.Label("DateOfApplication", "Date saved:")
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.DateOfApplication);
    </dd>
    <dt class="d-flex">
        @Html.Label("Link", "Link to job posting:")
    </dt>
    <dd class="d-flex">
        <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
    </dd>
    <dt class="d-flex">
        @Html.Label("FollowUp", "Next follow up date:")
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.FollowUp)
    </dd>
    <dt class="d-flex">
        @Html.Label("CompanySite", "Company website:")
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.CompanySite)
    </dd>
    <dt class="d-flex">
        @Html.DisplayNameFor(Job => j.Notes)
    </dt>
    <dd class="d-flex">
        @Html.DisplayFor(Job => j.Notes)
    </dd>*@








<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="IndexRevampTable" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Company)</a>
            </th>
            <th>
                Position
            </th>
            <th>
                <a asp-action="IndexRevampTable" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DateOfApplication)</a>
            </th>
            <th>
                <a asp-action="IndexRevampTable" asp-route-sortOrder="@ViewData["FollowUpDateSortParm"]">@Html.DisplayNameFor(model => model.FollowUp)</a>
            </th>
            <th>
                <a asp-action="IndexRevampTable" asp-route-sortOrder="@ViewData["RespondedSortParm"]">@Html.DisplayNameFor(model => model.Responded)</a>
            </th>
            <th>
                Method
            </th>
            <th>
                Contact
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Job j in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => j.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.DateOfApplication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.FollowUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.Responded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => j.Contact)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@j.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@j.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>








































@*@if (Model.AllJobs.Count() == 0)
    {
        <p>
            The purpose of this page is to list and provide details on jobs you've added to your favorites via the <a href="Home/">job search page</a>, or ones that you've manually entered via the <a href="Job/Add">job add page.</a>
            Once you've added jobs to your job search tracker, this page will populate with the details for each job.
        </p>
    }
    else
    {
        if (Model.NeedsResponse.Count() > 0)
        {
            <button type="button" data-hc-control="parentContent0" class="collapsible">
                Jobs Without a Response
            </button>
            <div data-hc-content="parentContent0" class="content">
                @foreach (Job j in Model.NeedsResponse)
                {
                    <button type="button" data-hc-control="@("childContent0" + j.Id)" class="collapsible">@j.Company - @j.Position</button>
                    <div data-hc-content="@("childContent0" + j.Id)" class="content">
                        <dl class="flex-xl-row">
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Company => j.Company)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Company => j.Company)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Position)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Position)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Contact)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Contact)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("Method", "Application method:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Method)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("DateOfApplication", "Date saved:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.DateOfApplication);
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("Link", "Link to job posting:")
                            </dt>
                            <dd class="d-flex">
                                <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("FollowUp", "Next follow up date:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.FollowUp)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("CompanySite", "Company website:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.CompanySite)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Notes)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Notes)
                            </dd>
                        </dl>
                        <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                        <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a>
                        <br />
                    </div>
                }
            </div>

            if (Model.PastFollowUp.Count() > 0)
            {
                <button type="button" data-hc-control="parentContent1" class="collapsible">
                    Jobs Without an Update Since FollowUp Date
                </button>
                <div data-hc-content="parentContent1" class="content">
                    @foreach (Job j in Model.PastFollowUp)
                    {
                        <button type="button" data-hc-control="@("childContent1" + j.Id)" class="collapsible">@j.Company - @j.Position</button>
                        <div data-hc-content="@("childContent1" + j.Id)" class="content">
                            <dl class="flex-xl-row">
                                <dt class="d-flex">
                                    @Html.DisplayNameFor(Company => j.Company)
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Company => j.Company)
                                </dd>
                                <dt class="d-flex">
                                    @Html.DisplayNameFor(Job => j.Position)
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.Position)
                                </dd>
                                <dt class="d-flex">
                                    @Html.DisplayNameFor(Job => j.Contact)
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.Contact)
                                </dd>
                                <dt class="d-flex">
                                    @Html.Label("Method", "Application method:")
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.Method)
                                </dd>
                                <dt class="d-flex">
                                    @Html.Label("DateOfApplication", "Date saved:")
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.DateOfApplication);
                                </dd>
                                <dt class="d-flex">
                                    @Html.Label("Link", "Link to job posting:")
                                </dt>
                                <dd class="d-flex">
                                    <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                                </dd>
                                <dt class="d-flex">
                                    @Html.Label("FollowUp", "Next follow up date:")
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.FollowUp)
                                </dd>
                                <dt class="d-flex">
                                    @Html.Label("CompanySite", "Company website:")
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.CompanySite)
                                </dd>
                                <dt class="d-flex">
                                    @Html.DisplayNameFor(Job => j.Notes)
                                </dt>
                                <dd class="d-flex">
                                    @Html.DisplayFor(Job => j.Notes)
                                </dd>
                            </dl>
                            <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                            <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a>
                            <br />
                        </div>
                    }
                </div>
            }
            <button type="button" data-hc-control="parentContent2" class="collapsible">
                All Jobs
            </button>
            <div data-hc-content="parentContent2" class="content">
                @foreach (Job j in Model.AllJobs)
                {
                    <button type="button" data-hc-control="@("childContent2" + j.Id)" class="collapsible">@j.Company - @j.Position</button>
                    <div data-hc-content="@("childContent2" + j.Id)" class="content">
                        <dl class="flex-xl-row">
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Company => j.Company)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Company => j.Company)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Position)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Position)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Contact)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Contact)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("Method", "Application method:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Method)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("DateOfApplication", "Date saved:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.DateOfApplication);
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("Link", "Link to job posting:")
                            </dt>
                            <dd class="d-flex">
                                <a href="@Html.DisplayFor(Job => j.Link)">@Html.DisplayFor(Job => j.Link)</a>
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("FollowUp", "Next follow up date:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.FollowUp)
                            </dd>
                            <dt class="d-flex">
                                @Html.Label("CompanySite", "Company website:")
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.CompanySite)
                            </dd>
                            <dt class="d-flex">
                                @Html.DisplayNameFor(Job => j.Notes)
                            </dt>
                            <dd class="d-flex">
                                @Html.DisplayFor(Job => j.Notes)
                            </dd>
                        </dl>
                        <a asp-action="Update" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a> |
                        <a asp-action="Delete" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a>
                        <br />
                    </div>
                }
            </div>
        }
    }*@