@model List<Job>

<h3>Welcome to the Job Tracker Index page!</h3>

@if (Model.Count == 0)
{
    <p>You don't have any jobs added to your tracker at this time. You can begin tracking jobs by adding them via the <a href="Job/Add">add jobs page.</a> After doing so you'll see them listed here along with any provided details.</p>
}
else
{
    <p>You currently have @Model.Count jobs being tracked. Below you'll find each job along with their details:</p>

    @foreach (Job j in Model)
    {
        <p>
            Company name: @j.Company<br />
            Position: @j.Position<br />
            Contact: @j.Contact<br />
            Method: @j.Method<br />
            Date of application: @j.DateOfApplication<br />
            Link: @j.Link<br />
            Next follow up: @j.FollowUp<br />
            Company site: @j.CompanySite<br />
            Responded: @j.Responded<br />
            UID: @j.UserId<br />
            Notes: @j.Notes<br />
        <a asp-action="Update" asp-controller="Job" asp-route-id="@j.Id"><button class="btn btn-primary">Edit</button></a>
        <a asp-action="Delete" asp-controller="Job" asp-route-id="@j.Id"><button class="btn btn-danger">Delete</button></a><br />
        </p>
    }
}