@using FinalProject.Helpers;
@model List<Result>

@foreach (Result r in Model)
{
    <p>Company: @TextHelper.RemoveHTML(r.company.display_name)</p>
    <p>Title: @TextHelper.RemoveHTML(r.title)</p>
    <p>Description: @TextHelper.RemoveHTML(r.description)</p>
    <a asp-controller="Job" asp-action="AddFromSearch" asp-route-id="@r.id">Add to saved jobs</a>
}
<br />
@{
    string country = TempData.Peek("country").ToString();
    int page = int.Parse(TempData.Peek("page").ToString());
    string what = TempData.Peek("what").ToString();
    string where = TempData.Peek("where").ToString();

    if (page != 1)
    {
        <a asp-controller="Job" asp-action="Search" asp-route-page="@(page - 1)" asp-route-country="@country" asp-route-what="@what" asp-route-where="@where">[Previous]</a>
    }
        <a asp-controller="Job" asp-action="Search" asp-route-page="@(page + 1)" asp-route-country="@country" asp-route-what="@what" asp-route-where="@where">[Next]</a>

}