@model AspNetUser



<form method="post" asp-controller="Users" asp-action="EditUserProfile">

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.NormalizedUserName)
    @Html.HiddenFor(x => x.Email)
    @Html.HiddenFor(x => x.NormalizedEmail)
    @Html.HiddenFor(x => x.EmailConfirmed)
    @Html.HiddenFor(x => x.PasswordHash)
    @Html.HiddenFor(x => x.SecurityStamp)
    @Html.HiddenFor(x => x.ConcurrencyStamp)
    @Html.HiddenFor(x => x.PhoneNumberConfirmed)
    @Html.HiddenFor(x => x.TwoFactorEnabled)
    @Html.HiddenFor(x => x.LockoutEnabled)
    @Html.HiddenFor(x => x.LockoutEnd)
    @Html.HiddenFor(x => x.AccessFailedCount)

    <p>Name: @Html.EditorFor(x => x.NormalizedUserName)</p>
    <p>Location: @Html.EditorFor(x => x.Location)</p>
    <p>LinkedIn: @Html.EditorFor(x => x.LinkedIn)</p>
    <p>GitHub: @Html.EditorFor(x => x.GitHub)</p>
    <p>Bio: @Html.EditorFor(x => x.Biography)</p>
    <p>Phone: @Html.EditorFor(x => x.PhoneNumber)</p>


    <input type="submit" />


</form>




@*<p>@a.NormalizedUserName</p>
    <p>@a.Location</p>
    <p>@a.GitHub</p>
    <p>@a.LinkedIn</p>
    <p>@a.Biography</p>
    <p>@a.Location</p>
    <p>@a.Email</p>
    <p>@a.PhoneNumber</p>*@
