@model AspNetUser



<form method="post" asp-controller="Users" asp-action="EmployerCheck">

    @if (Model.IsEmployer == null)
    {
        <label for="IsEmployer">Is this an Employer Profile (Cannot be undone)</label>
        <input id="IsEmployer" type="checkbox" name="IsEmployer" value="true" />
        <br />
        <br />
    }
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.NormalizedUserName)
    @Html.HiddenFor(x => x.Email)
    @Html.HiddenFor(x => x.NormalizedEmail)
    @Html.HiddenFor(x => x.EmailConfirmed)
    @Html.HiddenFor(x => x.PasswordHash)
    @Html.HiddenFor(x => x.SecurityStamp)
    @Html.HiddenFor(x => x.ConcurrencyStamp)
    @Html.HiddenFor(x => x.PhoneNumberConfirmed)
    @Html.HiddenFor(x => x.TwoFactorEnabled)
    @Html.HiddenFor(x => x.LockoutEnabled)
    @Html.HiddenFor(x => x.LockoutEnd)
    @Html.HiddenFor(x => x.AccessFailedCount)
    @Html.HiddenFor(x => x.NormalizedUserName)
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.Location)
    @Html.HiddenFor(x => x.LinkedIn)
    @Html.HiddenFor(x => x.GitHub)
    @Html.HiddenFor(x => x.Biography)
    @Html.HiddenFor(x => x.PhoneNumber)
    


    <input type="submit" value="Save Changes" />


</form>

