@model List<ProfileViewModel>

@foreach (ProfileViewModel p in Model)
{
    <p>@p.Email</p>
    <p>@p.PhoneNumber</p>
    <p>@p.Location</p>
    <p>@p.Biography</p>
    <p>@p.GitHub</p>
    <p>@p.LinkedIn</p>





}
