@model List<Skill>
<h4>Add your tech skills below:</h4>
<form>
    <select name="skills" id="skills" multiple>
        @foreach (Skill s in Model)
        {
            @*<input type="checkbox" id="@s.Skill1" name="@s.Skill1" />
            <label for="@s.Skill1">@s.Skill1</label>*@

            <option value="@s.Skill1">@s.Skill1</option>

        }
    </select>

</form>