@model List<Skill>

@{ 
    List<int> ownedSkills = (List<int>)TempData["OwnedSkills"];
}

<h4>Add your tech skills below:</h4>
<form asp-controller="Users" asp-action="AddSkills">

    @if (ownedSkills != null)
    {
        foreach (Skill s in Model)
        {
            if (ownedSkills.Any(x => x.Equals(s.Id)))
            {
                <input type="checkbox" id="@s.Skill1" name="skillId" value="@s.Id" checked />
                <label for="@s.Skill1">@s.Skill1</label>
            }
            else
            {
                <input type="checkbox" id="@s.Skill1" name="skillId" value="@s.Id" />
                <label for="@s.Skill1">@s.Skill1</label>
            }
            <br />
        }
    }
    else
    {
        foreach (Skill s in Model)
        {
            
            <input type="checkbox" id="@s.Skill1" name="skillId" value="@s.Id" />
            <label for="@s.Skill1">@s.Skill1</label>
            <br />
        }
    }
    <input type="submit" />
</form>
