@model List<AspNetUser>

@foreach (AspNetUser a in Model)
{
    <p>@a.NormalizedUserName</p>
    <p>@a.Location</p>
    <p>@a.GitHub</p>
    <p>@a.LinkedIn</p>
    <p>@a.Biography</p>
    <p>@a.Location</p>
    <p>@a.Email</p>
    <p>@a.PhoneNumber</p>

}
