@model List<AspNetUser>

@foreach (AspNetUser a in Model)
{
    <p>Email: @a.Email</p>
    <p>Phone: @a.PhoneNumber</p>
    <p>Location: @a.Location</p>
    <p>Bio: @a.Biography</p>
    <p>Github: <a href="https://www.github.com/@a.GitHub">@a.GitHub</a>
    <br /></p>

    <p>LinkedIn: <a href="https://www.linkedin.com/in/@a.LinkedIn">@a.LinkedIn</a></p>
    <br />

    <br />
    <a href="/Users/EditUserProfile">Edit Profile</a>


}
