@model List<AspNetUser>

@foreach (AspNetUser a in Model)
{
    <p>Name: @a.NormalizedUserName</p>
    <p>Location: @a.Location</p>
    <p>Github: @a.GitHub</p>
    <p>LinkedIn: @a.LinkedIn</p>
    <p>Bio: @a.Biography</p>
    <p>Email: @a.Email</p>
    <p>Phone: @a.PhoneNumber</p>

}
